:root {
    --neutral-900: hsl(227, 75%, 14%);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);
}

body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--neutral-200);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.dark {
    background-image: linear-gradient(to bottom, var(--neutral-900) 0%, var(--neutral-800) 99%, var(--neutral-800) 100%);
    background-attachment: fixed;
}

main {
    max-width: 65em;
    min-width: 65em;
    height: 100vh;
    margin: 3em 15em;
}

/* header */

.header {
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-300);
    border-radius: 0.7em;
    padding: 0.4em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header.dark {
    background-color: var(--neutral-700);
}

.logo {
    width: 9em;
    height: 2.8em;
}

.theme-icon {
    background-color: var(--neutral-100);
    padding: 0.5em;
    padding-top: 0.6em;
    width: 3.2em;
    height: 3.2em;
    border-radius: 0.9em;
}

.theme-icon.dark {
    background-color: var(--neutral-600);
}

/* list header and buttons */
h1 {
    font-size: 1.72em;
    color: var(--neutral-900);
}

h1.dark,
h2.dark {
    color: var(--neutral-100);
}

.button-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5em;
    margin-bottom: 0.6em;
}

button {
    border-radius: 2em;
    padding: 0.4em 0.9em;
    background-color: var(--neutral-0);
    border: 0.01em solid var(--neutral-300);
    color: var(--neutral-800);
}

button.dark {
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    border: 0.01em solid var(--neutral-600);
}

/* card list */
.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.6em;
}

.card {
    background-color: var(--neutral-0);
    border: 0.01em solid var(--neutral-300);
    border-radius: 0.8em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2.8em;
}

.card.dark {
    background-color: var(--neutral-800);
    border: 0.01em solid var(--neutral-600);
}

.card-detail,
.card-buttons {
    display: flex;
    flex-direction: row;
}

.list .list-icon {
    height: 3em;
    width: 3em;
    margin-right: 0.9em;
}

h2 {
    color: var(--neutral-800);
    margin: 0;
    font-size: 1.1em;
}

p {
    color: var(--neutral-600);
    margin: 0;
    margin-top: 0.35em;
    font-size: 0.85em;
}

.card-buttons {
    justify-content: space-between;
    align-items: center;
}

/* .card-buttons button {
    border: 1px solid var(--neutral-100);
} */

.card-buttons button:hover {
    background-color: var(--red-700);
    color: var(--neutral-0);
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.3em;
}

/* Hide the default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider track */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--neutral-300);
    /* Off state background */
    transition: 0.4s;
    /* Smooth transition for background change */
    border-radius: 34px;
    /* Rounded corners for the track */
}

.slider.dark {
    background-color: var(--neutral-600);
}

/* The slider handle (the moving circle) */
.slider::before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.22em;
    bottom: 0.16em;
    background-color: white;
    /* Handle color */
    transition: 0.4s;
    /* Smooth transition for handle movement */
    border-radius: 50%;
    /* Make it circular */
}

/* When the checkbox is checked (on state) */
.toggle-switch input:checked+.slider {
    background-color: var(--red-700);
    box-shadow: 0 0 0 2px var(--neutral-0), 0 0 0 4px var(--red-400);
}

.toggle-switch input:checked+.slider.dark {
    box-shadow: 0 0 0 2px var(--neutral-900), 0 0 0 4px var(--red-400);
}

/* Move the handle to the right when checked */
.toggle-switch input:checked+.slider::before {
    transform: translateX(1.06em);
    /* Adjust based on track width and handle size */
}

button:hover,
.theme-icon:hover {
    cursor: pointer;
}

.button-panel button:hover {
    opacity: 0.7;
}

.button-panel button:active {
    opacity: 1;
    border: 2px solid var(--red-400);
    box-shadow: inset 0 0 0 1px var(--neutral-0);
    background-color: var(--neutral-0);
    color: var(--neutral-900);
}

.all-btn,
.button-panel button:focus {
    opacity: 1;
    background-color: var(--red-700);
    color: var(--neutral-0);
}

.card-buttons button:focus,
.theme-icon:focus,
.all-btn:focus {
    border: 2px solid var(--red-400);
    box-shadow: inset 0 0 0 1px var(--neutral-0);
    background-color: var(--neutral-0);
    color: var(--neutral-900);
}

.card-buttons button:active,
.theme-icon:active,
.all-btn:active {
    box-shadow: inset 0 0 0 1px var(--neutral-0);
}

.card-buttons button:focus.dark,
button.dark,
.theme-icon:focus.dark,
.all-btn:focus.dark {
    box-shadow: inset 0 0 0 1px var(--neutral-900);
}

.theme-icon:focus.dark {
    background-color: var(--neutral-600);
    box-shadow: inset 0 0 0 1px var(--neutral-900);
}

.theme-icon:hover {
    background-color: var(--neutral-300);
}

.theme-icon:hover.dark {
    box-shadow: none;
    background-color: var(--neutral-600);
}

@media (max-width: 768px) {
    main {
        margin: 0;
        margin: 1.5em;
    }

    .button-panel {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 2em;
        margin-top: 0.6em;
    }

    h1 {
        font-size: 1.4em;
    }

    .list {
        grid-template-columns: auto;
    }
}

@media (min-width:768px)and(max-width: 1024px) {
    main {
        margin: 3em 6em;
    }

    .button-panel {
        justify-content: space-between;
    }

    h1 {
        font-size: 2em;
        padding: 0;
    }
}